@import "./media_query";
@import "./variables";


/*****************
 heading
************************/
.heading-2 {
	font-size: 5rem;
	font-weight: 400;
	@include desktop {
		font-size: 3rem;
	}
	@include tablet {
		font-size: 3rem;
	}
}
.heading-3 {
	color: $hover_4;
	font-size: 25px;
	font-weight: 500;
}
.sub-heading-3 {
	color: $hover_5;
	font-weight: 500;
}
.section-heading {
	color: $dark_3;
	font-size: 50px;
	margin-bottom: 0;
	font-weight: 400;
}
.sub-title{
	display: inline-block;
	color: $hover_2;
	font-size: 25px;
}
.sub-title-2 {
	margin-bottom: 0;
	font-size: 19px;
	color: $dark_2;
}
.widget-title {
	color: $white;
	font-size: 25px;
	font-weight: 400;
}
/******************
 buttons
*****************/

.custom-btn {
	font-size: 25px;
	border: 0;
	background-color: $hover_3;
	height: 60px;
	width: 260px;
	border-radius: 35px;
	color: $white;
}
.custom-sm-btn {
	background-color: $hover_3;
	color: $white;
	border-radius: 30px;
	width: 170px;
	height: 40px;
	border: 0;
}
.gr-sm-btn {
	width: 85px;
	height: 30px;
	background-image: linear-gradient(to right, #3c12d4, #5a0fd8, #710bdb, #8606df, #9903e2);
	border-radius: 20px;
	border: 0;
	color: $white;
}
/****************
padding
********************/

.section-ptb {
	padding-top: 120px;
	padding-bottom: 120px;
}

/********************
Background Color
***********************/

.bg-semi-hover {
	background-color: $semi_hover_2;
}

/******************************
Spacing
*******************************/

.pb-170 {
	padding-bottom: 170px;
}
.pb-60 {
	padding-bottom: 60px;
}
.py-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
/**********************
height
*************************/

.height-550 {
	height: 550px;
}

/*******************
border radius
***********************/

.rounded-2 {
	border-radius: 10px;
}

/****************
Text Format
*******************/

.text-semi-white {
	color: $semi_white;
}
.text-widget {
	p {
		font-size: 14px;
	}
}
/****************
List Style
***************/

.footer-menu-widget {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				display: inline-block;
				color: $semi_white;
				padding: 6px 0px;
				transition: all .4s linear 0s;
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
}

/*****************
responsive
*********************/

.mt-xs-5 {
	@include mobile {
		margin-top: 4rem;
	}
	@include tablet {
		margin-top: 4rem;
	}
}

.mb-xs-5 {
	@include mobile {
		margin-bottom: 4rem;
	}
	@include tablet {
		margin-bottom: 4rem;
	}
}
.mb-xs-4 {
	@include mobile {
		margin-bottom: 3rem;
	}
	@include tablet {
		margin-bottom: 3rem;
	}
}