$white: #fff;
$semi_white: #b3b0df;
$black: #222222;
$semi_black: #212837;
$hover: #0397d3;
$hover_2: #43b3ee;
$hover_3: #ff1948;
$hover_4: #050054;
$hover_5: #0c00d1;
$semi_hover: #ff9900;
$semi_hover_2: #f2f9ff;
$dark: #eeeeee;
$dark_2: #555;
$dark_3: #645b5b;
$dark_4: #e6e6e6;
$dark_5: #979797;
$dark_6: #e5e5ed;
$yellow: #ffc80a;
$secondary_color: #757575;
$default_color: #555;
$fb_link_bg: #3b5999;
$twitter_link_bg: #55acee;
$pinterest_linbk_bg: #bd081c;
$default_size: 16px;
$default_font: 'Poppins', sans-serif;  
$btn_padding: 10px 25px;
$bold_weight: 600;